/*css reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My CSS*/

body
{
	font-family: Arial, "MS Trebuchet", sans-serif;
	background-image:url("../images/fabric.jpg");
	background-size: 100%;
}

h1
{
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-size: 50px;
	color: black;
	font-weight: 300px;
	text-align: center;
	padding: 50px;
}

aside
{
	float: right;
	font-family: Arial, "MS Trebuchet", sans-serif;
	color: blue;
}

aside#noside
{
	float: center;
	color:black;
}

section#img 
{
	text-align: center;
	padding: 
}

h2, h3, h4, h5, h6
{
	font-size: 35px;
	font-weight: 200px;
	text-align: center;
	padding: 15px 15px 15px 20px;
}

p, ol, ul
{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	word-spacing: 5px;
	line-height: 25px;
}

a#back
{
	float: left;
}

section#sidebar
{
	float:left;
}