/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#container{
	height:780px;
	width: 1200px;
	background: black;
	margin: auto;
	border-radius: 5px;
	box-shadow: 5px 5px 5px black;
}

header{
	height: 100%;
	width:25%;
	min-height: 780px;
	max-width: 300px;
	background: yellow;
	float: left;
}

header h1{
	font-size:100px;
	text-align: center;
}

header h1 a{
	text-decoration: none;
	color:black;
	text-align: center;
}
header nav ul{
}

header nav ul li{
	list-style: none;
	padding: 15px 15px;
}

header nav ul li a{
	font-family: 'Jura', sans-serif;
	color:white;
	text-decoration: none;
	font-size: 25px;
	text-shadow:2px 2px 2px black;
	padding: 2px 5px 2px 5px;
}

li a:hover{
	background: grey;
	padding:2px 5px 2px 5px;
	box-shadow: 5px 5px 5px black;
}
main{
	height: 100%;
	width:75%;
	min-height: 780px;
	max-width: 900px;
	background: grey;
	float:right;
}

main article{
	height: auto;
	width:60%;
	margin: 30% auto 5%;
}

main article p{
	font-family: 'Jura', sans-serif;
	font-size: 25px;
	color: white;
	text-shadow: 2px 2px 2px #1f1f1f;
}

main aside{
	height:250px;
	width: 200px;
	border:2px solid yellow;
	float: left;
	background: #f1f1f1;
	box-shadow: 5px 5px 5px black;
	border-radius: 5px;
}

#news{
	margin:0 2.5% 0 11%;
}

#aboutMe{
	margin: 0 2.5% 0;
}

#goals{
	margin: 0 5% 0 2.5%;
}

main aside h3{
	border-bottom: 1px solid yellow;
	font-family:  'Jura', sans-serif;
	font-size: 28px;
	text-align: center;
	text-shadow: 2px 2px 2px grey;
}

main aside p{
	font-family:  'Jura', sans-serif;
	font-size:18px;
	padding: 0 0 0 2%;
}

.clear{
	clear:both;
}

/*Responsiveness*/

@media only screen and (max-width:480px) {
 nav .hideme { display: none; }
}


@media only screen and (max-width:480px){
	 #container, header, main, article, aside{
		width: 100%;
		height: auto;
		float:none;
		margin: 0 auto;
	}
}

@media only screen and (max-width:768px) {

}

@media only screen and (min-width:768px){

}