body
{
	font-family: helvetica, times, sans-serif;
	font-size: 25px;
	background-color: black;
}

h1
{
	font-weight: 1000;
	text-align: center;

}

h2{
	background-color: white;
	text-decoration: underline;

}

a{
	border: solid 1px white;
	background-color: red;
	color: white;
	border-radius:5px;
	text-decoration: none;
	margin-right: 20px;
	padding-left: .5%;
	padding-right: .5%;
}

p
{
	background-color: white;
	border: 2px solid red;
	border-radius: 5px;
	padding: .75%;
}

thead{
	border: 2px solid black;
	 background-color: white;
}

tbody
{
	border: 2px solid white;
}
 
th
{
	border: 2px solid black;
	border-radius: 5px; 
	height: 50px;
}

td
{
	border: 2px solid black;
	height: 35px;
	border-radius: 5px;
}

#header
{
	top:0;
	height:12.5%;
	position: relative;
	width: 100%;
	background-color: white;
}

#navbar
{
	top:-6px;
	height:4%%;
	position: relative;
	width: 100%;
	background-color: #4D4D46;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	left: 0px;
	text-align: center;
}

.left
{

	top:16.25%;
	bottom: 0;
	left: 0;
	position: fixed;
	height: 100%;
	width: 10%;
}

.right
{
	top: 16.25%;
	bottom: 0;
	right: 0;
	position: fixed;
	height: 100%;
	width: 10%;
}

.content
{
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	clear: both;
	padding-left: 2%;
	padding-right: 2%;
	border:4px solid red;
	background-color: white;
	border-radius: 10px;
}


#first
{
	width: 50%;
}

.firstrow:nth-of-type(even)
{
	color: green;
	background-color: yellow;
}

.firstrow:nth-of-type(odd)
{
	color: yellow;
	background-color: green;
}

table#first
{
	border: 4px solid red;
	border-collapse: collapse;
}

table#best
{
	bottom: 5px;
	background-color: white;
	border: 2px red solid;
}


tr#first{
	border: 2px solid black;
}

table#first th{
	background-color: #66CCFF;
	border-radius: 5px;
}
